<form name="game-form" id={{id}} data-user={{userId}}>
  <div class="card mt-3" style="width: 18rem">
    <a href="/game/{{id}}"><img
        id="cover"
        {{#if cover.url}}
        data-type="http:{{formatIgdbUrl cover.url}}"
        src="http:{{formatIgdbUrl cover.url}}"
        {{else}}
        data-type="/assets/img/imagenotfound.png"
        src="/assets/img/imagenotfound.png"
        {{/if}}
        class="card-img-top"
        alt="..."
      /></a>
    <div class="card-body">
      <h5 id="gameName" class="card-title">{{name}}</h5>
      <p id="summary" class="card-text">{{trimSummary summary}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        id="platform"
        data-type="{{platforms.0.name}}"
      >
        Platform:
        {{platforms.0.name}}</li>

      <li
        class="list-group-item"
        id="criticRating"
        data-type="{{formatRatings rating}}"
      >
        Rating:
        {{formatRatings rating}}</li>

      <li
        class="list-group-item"
        id="releaseDate"
        data-type="{{release_dates.0.date}}"
      >
        Release Date:
        {{formattedDate release_dates.0.date}}</li>
    </ul>

    <div class="card-body">
      <button
        data-type="want-to-play"
        type="submit"
        id="want-to-play-btn"
        class="btn btn-success"
      >Want To Play</button>
      <button
        data-type="have-played"
        type="submit"
        id="have-played-btn"
        class="btn btn-success"
      >Have Played</button>
    </div>
  </div>
</form>