<div class="card mt-3" style="width: 18rem">
  <img src="http:{{formatIgdbUrl cover.url}}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{summary}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Platform: {{platforms.0.name}}</li>
    <li class="list-group-item">Rating: {{formatRatings rating}}</li>
    <li class="list-group-item">Release Date: {{release_dates.0.date}}</li>
  </ul>

  <div class="card-body">
    <a href="#" class="card-link">Want To Play</a>
    <a href="#" class="card-link">Have Played</a>
  </div>
</div>