<!-- make a call to get the friends list then make a call for each friend to retrieve their data. profile photo and link to their steam account  -->
<div class="card mt-3 p-0" style="width: 14rem">
  <!-- img from second api call -->
  <img src={{avatarfull}} class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{personaname}}</h5>
    <p class="card-text"><a href={{profileurl}} target="_blank">View on Steam</a></p>
    {{#if loccountrycode}}
      <p class="card-text">Country:{{loccountrycode}}</p>
    {{else}}
      <p class="card-text">Location N/A</p>
    {{/if}}
  </div>
</div>