<div class="card mt-3 p-0 text-center" style="width: 21rem">
  <img {{#if cover_art}}
  src="{{cover_art}}"
  {{else}}
  data-type="/assets/img/imagenotfound.png"
  src="/assets/img/imagenotfound.png"
  {{/if}}
    class="card-img-top p-0" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">{{summary}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{platform}}</li>
    <li class="list-group-item">{{critic_rating}}</li>
    <li class="list-group-item">{{formattedDate release_date}}</li>
  </ul>
  <div class="card-body">
    <div class="card-text">
      {{#if want_game}}
      <h5>I want to play</h5>
      {{/if}}
      {{#if has_game}}
      <h5>I have played</h5>
      {{/if}}
    </div>
    <div class="card-text">
      <button class="btn btn-danger" id={{id}} name="deleteBtn">Delete From List</button>
    </div>
  </div>
</div>