<div class="container-fluid row my-container m-0 p-1">
  <!-- container 1 -->
  {{#if isLoggedIn}}
  {{> private-navbar}}
  {{else}}
  {{> public-navbar}}
  {{/if}}
  <!-- container 2 -->
  <div class="col-lg-8 text-center col-sm-12">
    <!-- carousel 1 -->
    <h4>Top Rated Games</h4>
    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center">
            <a href="/game/{{topResults.1.id}}"><img src="http:{{formatIgdbUrl topResults.1.cover.url}}" class="d-block"
                alt="..." /></a>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4>{{topResults.1.name}}</h4>
          </div>
        </div>
        {{#each topResults as |topResult|}}
        <div class="carousel-item">
          <div class="d-flex justify-content-center">
            <a href="/game/{{id}}"><img src="http:{{formatIgdbUrl cover.url}}" class="d-block" alt="..." /></a>
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h4>{{name}}</h4>
          </div>
        </div>
        {{/each}}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- carousel 2 -->
    {{#if isLoggedIn}}
    <h4 class="mt-4">Player Games</h4>
    <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{#each games as |game|}}
        {{#if @first}}
        <div class="carousel-item active">
          {{else}}
          <div class="carousel-item">
          {{/if}}
          <div class="d-flex justify-content-center">
            <img src="{{game.cover_art}}" class="d-block" alt="..." />
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{game.name}}</h5>
            <p>
            {{#if game.want_game}}
            <h5>I want to play</h5>
            {{/if}}
            {{#if game.has_game}}
            <h5>I have played</h5>
            {{/if}}
            </p>
          </div>
        </div>
        {{/each}}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    {{/if}}
  </div>
       <!-- container 3 -->
      <div class="col-lg-2 col-sm-12 text-center">
        <h4>Users</h4>
        <ul class="list-group scrollable-list">

          {{#if isLoggedIn}}
          {{#each users}}
            {{> user-list-item}}
          {{/each}}
          {{else}}
          {{#each users}}
            {{> user-list-item-public}}
          {{/each}}
          {{/if}}
      </ul>
</div>