<div class="container-fluid row my-container m-0 mt-3 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-8 col-sm-12 mt-3">
        <!-- profile pic and about me  -->
        <div class="row container m-2 p-2">
          <div class="col col-lg-4 col-md-12">
            {{#if data.userData.avatarfull}}
            <img
              src={{data.userData.avatarfull}}
              alt="profile picture"
              width="200px"
              height="auto"
              class="rounded-circle"
            />
            {{else}}
            <img
              src="../assets/img/profile_img.png"
              alt="profile picture"
              width="200px"
              height="auto"
              class="rounded-circle"
            />
            {{/if}}
          </div>

          <!-- about me section -->
          <div class="col col-lg-8 col-md-12">
            {{#if data}}
            {{data.userAboutMe}}
            {{/if}}

            {{#if noSteamData}}
            {{noSteamData.userAboutMe}}
            {{/if}}
          </div>
        </div>

<!-- latest user updates -->
        <div class="row container m-2 d-flex justify-content-around my-5">
          <!-- Steam Profile Info -->
          {{#if data}}
          <h3 class="text-center border-top pt-5">Steam Profile</h3>
          <div class="col col-12 row my-3">
            <div class="col-12 text-center">
              <img src={{data.userData.avatarmedium}} alt="steam profile img" width="100px" height="auto">
              <div class="m-2">{{data.userData.personaname}}</div>
              <div class="m-2"><a href={{data.userData.profileurl}} target="_blank">View my profile on Steam</a></div>
              {{#if data.userData.lastlogoff}}<div class="m-2">Previous Login: <span>{{formattedDate data.userData.lastlogoff}}</span></div>{{/if}}
            </div>
          </div>
          <!-- Recently PLayed Games -->
          <h3 class="text-center pt-5">Recently Played Games</h3>

          <div class="col col-12 row d-flex justify-content-around my-3">
            {{#each data.userPlayedGames as |game|}}
            {{> steam-game-card}}
            {{/each}}

          </div>
          <!-- steam friends -->
          <h3 class="text-center pt-5">My Steam Friends</h3>
          <div class="col col-12 row d-flex justify-content-around my-3">
            
            {{#each data.userFriendsList.friendsProfiles as |friend|}}
            {{> steam-friend-card}}
            {{/each}}
          

          </div>
          {{else}}
          {{#unless noSteamData}}
          <div class="d-flex text-center flex-column">
            <h1 class="my-3">There is no Steam Account linked to this account</h1>
            <h3 class="my-3">Unfortunately, this section cannot be displayed because your account is not linked with an active Steam Account</h3>
          </div>
          {{else}}
          <div class="d-flex text-center flex-column">
            <h1 class="my-3">There is no Steam Account linked to this account</h1>
            <h3 class="my-3">Unfortunately, this section cannot be displayed because your account is not linked with an active Steam Account</h3>
          </div>
          {{/unless}}
          {{/if}}
        </div>
      </div>

      <!-- container 3 -->
      <div class="col col-lg-2 col-md-12 mt-3">
        <h4>Followers List</h4>
        <div class="list-group scrollable-list">
          {{#each data.userFollowers as |follower|}}
          {{> follower-card}}
          {{/each}}
        </div>
      </div>
    </div>