<div class="container-fluid row my-container m-0 p-1">
      <!-- container 1 -->
      {{> private-navbar}}

      <!-- container 2 -->
      <div class="col-lg-8 col-sm-12">
        <!-- profile pic and about me  -->
        <div class="row container m-2 p-2">
          <div class="col col-lg-4 col-md-12">
            <img
              src="../assets/img/profile img.png"
              alt="profile picture"
              width="200px"
              height="auto"
            />
          </div>

          <!-- about me section -->
          <div class="col col-lg-8 col-md-12">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et
            similique, fugit sit maxime voluptates consequuntur odio tempore,
            autem ipsa, veritatis illo assumenda natus harum aut voluptatem.
            Harum vel nam quos.
          </div>
        </div>

<!-- latest user updates -->
        <div class="row container m-2 d-flex justify-content-around my-5">
          <!-- Steam Profile Info -->
          {{#if data}}
                      <div class="col col-12 row my-3">
            <div class="col-12 text-center">
              <img src={{data.userData.avatarmedium}} alt="steam profile img" width="100px" height="auto">
              <div class="m-2">{{data.userData.personaname}}</div>
              <div class="m-2"><a href={{data.userData.profileurl}} target="_blank">View my profile on Steam</a></div>
              <div class="m-2">Previous Login: <span>{{formattedDate data.userData.lastlogoff}}</span></div>
            </div>
          </div>
          <!-- Recently PLayed Games -->
          <div class="col col-12 row d-flex justify-content-around my-3">
            {{#each data.userPlayedGames as |game|}}
            {{> steam-game-card}}
            {{/each}}

          </div>
          <!-- steam friends -->
          <div class="col col-12 row d-flex justify-content-around my-3">
            
            {{#each data.userFriendsList.friendsProfiles as |friend|}}
            {{> steam-friend-card}}
            {{/each}}
          

          </div>
          {{else}}
          <div class="d-flex text-center flex-column">
            <h1 class="my-3">There is no Steam Account linked to this account</h1>
            <h3 class="my-3">Unfortunately, this section cannot be displayed because your account is not linked with an active Steam Account</h3>
          </div>
          {{/if}}
        </div>
      </div>

      <!-- container 3 -->
      <div class="col col-lg-2 col-md-12">
        <h4>Friends List</h4>
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action active text-center"
            aria-current="true"
          >
            friend 1
          </button>
          <button
            type="button"
            class="
              list-group-item list-group-item-action
              text-center text-center
            "
          >
            friend 2
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 3
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 4
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action text-center"
          >
            friend 5
          </button>
        </div>
      </div>
    </div>